@forward '../../styles/globals/';
@use '../../styles/util/' as u1;


body {
    background-color: #f7ffff !important;
    color: #2c4d5c;
}
.AppMain {
    @include u1.block_display();

    .logoCvr {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logoImg {
            width: 100px;

            img {
                width: 100%;
            }
        }
    }
}